*{
    padding: 0;
    margin: 0;
    color: #eee;
    font-family: 'Signika Negative', sans-serif;
}

html{
    font-size: 22px;
}
body{
    background-image: linear-gradient(to top right, #737, #404, #626) ;
}

header {
    background-image: linear-gradient(to top, #33333300, #333) ;
    z-index: 3;
}

header img{
    height: auto;
    width: 20rem;
    object-fit:none;
    object-position: 54% 50%;

    border-radius: 10px;
}
header .titulo{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
header .subtitulo{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: #eee;
    transition: 200ms;
}

a:hover{
    transform: scale(1.3)
}

aside{
    padding: 1rem;
    padding-top: 3rem;
    margin-right: .3rem;
    background-color: #3333338a;
    border-radius: 10px;

    position: relative;
    top: -3rem;
    z-index: -11;
}

.elementosAside{
    padding: .5rem;
    margin: 0.2rem;
    text-align: center;
}
.fondoColor{
    border-radius: 10px;
    border: #eee solid .1rem;
    background-color: #3333338a;
}

.notaAlPie{
    font-size: 0.9rem;
}

.botonEnviar{
    margin: 1rem;
    padding: 0.3rem;
    background-color: #404;
    max-width: 5rem;
}